* {
   background-color: rgb(0, 0, 0);
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    text-decoration: none;
}
body {
    height: 100vh;
    font-family: 'Bebas Neue', cursive;

}

iframe {
    position: absolute;
    top: 0; 
    left: 0;
    cursor: grab;
}

.navbar{
    position: relative;
    background-color: transparent;
    z-index: 10;
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

}
.navbar a{
    color :white;
    background-color: transparent;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}
.navbar .nav-links  {
    display: flex;
    align-items: center;
}
.navbar .nav-links ul {
    display: flex;
    background-color: transparent !important;;

}
.navbar .nav-links ul  li{
    margin : 0 40px;
    background-color: transparent;

    
}

.navbar .nav-links ul {
    display: flex;

} 
.welcome_home {

    z-index: 10;
    position: relative;
    color: azure;
    top : 40%; 
    left: 80%;
    font-size: larger;
 }


.btn {
    position: relative;
    background: white;
    font-size: 105%;
    z-index: 10;
    top : 50%;
    left: 70%;
    border: 0;
    opacity: 80%;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .5s;
}

.btn:hover {
    background: black;
    color: azure;

}



.container .LVAS a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .container a img {
    position: relative;
    width: 25%;
    height: 50%;
    padding: 3px;
    margin-left: 3px;
    margin-bottom: 10%;
    transition: 0.4s;
    filter: blur(0);
    cursor: pointer;
    
 
}


.container .LVAS_img {
    margin-top: 10%;
}
.container img:hover{
    transition: 0.4s;
    filter: blur(3px);
    
 
}
.container .LVAS .LVAS_img .icon_music {
    visibility: hidden;
    text-decoration: none;
    background-color: white;
    position: absolute;
    align-items: center;
    visibility :hidden;
    cursor: auto
    
    


}
.container .LVAS .LVAS_img:hover +.icon_music{
    background-color: white;
    position: absolute;
    align-items: center;
    visibility: visible;
}

.container .LVAS_single a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .Infernus a{
    display: flex;
    flex-direction: column;
    align-items: center;
  }