
* {
   background-color: rgb(0, 0, 0);
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    text-decoration: none;
}
body {
    height: 100vh;
    font-family: 'Bebas Neue', cursive;

}

iframe {
    position: absolute;
    top: 0; 
    left: 0;
    cursor: grab;
}

.navbar{
    position: relative;
    background-color: transparent;
    z-index: 10;
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;

}
.navbar a{
    color :white;
    background-color: transparent;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}
.navbar .nav-links  {
    display: flex;
    align-items: center;
}
.navbar .nav-links ul {
    display: flex;
    background-color: transparent !important;;

}
.navbar .nav-links ul  li{
    margin : 0 40px;
    background-color: transparent;

    
}

.navbar .nav-links ul {
    display: flex;

} 
.welcome_home {

    z-index: 10;
    position: relative;
    color: azure;
    top : 40%; 
    left: 80%;
    font-size: larger;
 }


.btn {
    position: relative;
    background: white;
    font-size: 105%;
    z-index: 10;
    top : 50%;
    left: 70%;
    border: 0;
    opacity: 80%;
    padding: .5rem 1rem;
    cursor: pointer;
    transition:  3s;
    font-family: 'Bebas Neue', cursive;
    font-size:x-large;
}


.btn:hover {
    background: black;
    color: azure;
    transition: .5s;

}

.icon {
    margin-bottom: 10%;
    margin-top: -30%;
    display: block;
    align-items: center;
    justify-content: center;
}
i{
    color: rgb(0, 0, 0);
}
i:hover {  
    color: #fff;
    transition: 1s;
}

.btn_cover {
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    z-index: 10;
    padding: 10px;
    border: 0;
    transition: 1s;
    opacity: 0;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .5s;  
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: medium;
    transition: 1.5s;

}
p{
    margin: 3px;
    background: transparent;
    color: white;
}
.soon {
    z-index: 10;
    margin-top: -23%;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 15%;
    font-size: xx-large;
    
}
.btn_cover:hover { 
    transition: 1s;
    opacity: 1;

}


.container .LVAS {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    
  }

  
  .container img {
    position: relative;
    width: 25%;
    height: 50%;
    margin-bottom: 10%;
    padding: 3px;
    margin-left: 3px;
    transition: 1s;
    filter: blur(0);
    
    
 
}



 /* IMG PREMIERE*/
.container .LVAS_single_img {
    margin-top: 10%;
    filter: blur(13px);
}
.container img:hover{
    transition: 1s;
    filter: blur(3px);
    
 
}
.container .LVAS .icon_music {
   
    text-decoration: none;
    position: absolute;
    align-items: center;
    cursor: pointer; 
}


.container .LVAS_single {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;

    
}

.container .Infernus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    
  }

  .container .Univers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    height: 100%;
    width: 100%;

    
  }


@media screen and (max-width:1200px) {
    .btn_cover {
        opacity: 1;
    
    }
    .container img {
        position: relative;
        width: 50%;
        height: 100%;

    }
    .btn_cover {
        opacity: 1;
        
        
   
    }
    .icon{
        width: auto;
        height: auto;
        margin-top: -10%;  
        display: flex;
        
     }
    .dispo {
        display: none;
    }
    i{
        color: #fff;
    }
    
}

@media screen and (max-width:750px) {
    .btn{
        left: 100px;
        bottom: 100px;
    }
    .soon{
        font-size: medium;
        margin-top: -35%;
        margin-bottom: 35%;
    }
    
}
@media screen and (max-width:400px){
    .btn{
        left: 100px;
        bottom: 100px;
    }
    
    .btn_cover {
        opacity: 1;
    
    }

    .container img {
        position: relative;
        width: 75%;
        height: 100%;
    

    }
    .container .LVAS_single {
        padding-top: 100px;
    }

    
    .soon{
        margin-top: -45%;
        margin-bottom: 45%;
    }

    
}